#app {
    margin: 50px;
}

.button-item {
    text-align: center;
}

.button-item button {
    height: fit-content;
    border-radius: 15px;
}

img.button-img {
   height: 100px !important;
    width: 100px;
    margin: 10px;
}

.scores-panel {
    margin-bottom: 40px;
}

.score-counter {
    text-align: center;
}

.main-title {
    margin-bottom: 40px;
}

[v-cloak] {display: none}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node rect {
    stroke: #000;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #000;
    stroke-width: 1.5px;
}

.buttons-container {
    padding-bottom: 10px;
}
