#app {
    margin: 50px;
}

.button-item {
    text-align: center;
}

.scores-panel {
    margin-bottom: 40px;
}

.score-counter {
    text-align: center;
}

.main-title {
    margin-bottom: 40px;
}

[v-cloak] {display: none}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node rect {
    stroke: #000;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #000;
    stroke-width: 1.5px;
}
